$orange: rgba(255, 100, 30, 1);
$gray_15: rgba(0,0,0,0.15);


body {
	color: #333;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 21px;
	border-top: 4px solid $orange;
	margin: 0;
	padding-top: 30px;

}

.form-section {
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
	border: 1px solid $gray_15;
	border-top: 2px solid $orange;
	padding: 0 20px 20px;
	margin-bottom: 10px;
}

.intro-section {
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
	padding: 0 20px 20px;	
}

.ss-section-title {
	margin: 0 0 10px;
	padding: 20px 0;
	color: $orange;
}

.ss-q-title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

.ss-secondary-text {
	color: #666;
	margin: 5px 0;
	font-size: 14px;
	font-style: italic;
}

.ss-q-long {
	width: 100%;
	border: 1px solid $gray_15;
	font-size: 16px;
	font-family: sans-serif;
}

.required-message,
.ss-secondary-text,
#progress-container,
.ss-password-warning {
	display: none;
}

.pixar-pitch {
	.ss-q-title {
		display: inline-block;
	}

	.ss-q-short {
		border: 0;
		border-bottom: 1px solid $gray_15;
		width: 400px;
		margin-left: 15px;
		font-size: 16px;
		font-family: sans-serif;
		padding: 5px;

	}
}

#ss-submit {
	padding: 8px 20px;
	margin-top: 20px;
	background-color: $orange;
	border-radius: 2px;
	cursor: pointer;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid $orange;
}